body{
    background-color: rgb(153, 204, 255);
}
.show{
    display: block;
}
.hide{
    display: none;
}

button{
    position: relative;
    top: 20px;
    left: 20px;
    background-color: palevioletred;
    border: white solid;
    border-radius: 20px;
}
button:hover{
    background-color: rgb(153, 204, 255);
    border: black solid;
    cursor: pointer;
}

aside{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: large;
    font-weight: bold;
}

#main, #quiz{
    text-align: center;
}
#begin{
    text-align: center;
}

p{
    font-size: large;
    font-weight: 300;
}

#highscore-display{
    width: 50%;
    height: 50%;
    position: absolute;
    border: 3px black solid;
    border-radius: 20px;
    background-color: whitesmoke;
    left: 25%;
    bottom: 25%;
    text-align: center;
}
#exit-highscore{
    width: 30px;
    height: 30px;
    display: inline;
    position: absolute;
    background-color: black;
    color: white;
    border: solid black 3px;
}
#exit-highscore:hover{
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
}

.answers{
    font-size: larger;
}

ul{
    list-style-type: none;
}
li{
    font-size: larger;
}